// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like


$dropdown-dark-box-shadow:          null;
$dropdown-dark-link-color:          $dropdown-dark-color;
$dropdown-dark-link-hover-color:    $white;
$dropdown-dark-link-hover-bg:       rgba($white, .15);
$dropdown-dark-link-active-color:   $dropdown-link-active-color;
$dropdown-dark-link-active-bg:      #19a187;
$dropdown-link-active-bg :rgb(25, 161, 135);
$nav-pills-link-active-bg:#19a187;
$nav-link-active-bg:#19a187;
$nav-link-color:#000000;
$nav-link-hover-color:rgb(38, 86, 99);



@import "../../node_modules/bootstrap/scss/root";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/dropdown";


// 5. Add additional custom code here


// @import "~bootstrap/scss/bootstrap";